---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Engineer. Manager. Maker."
	pubDate={new Date('May 17 2025')}
	heroImage="/about-header.png"
>
	<p>
		Hey — I'm Arnas. I’m a software engineer with a passion for clean code and meaningful products. I've led teams, scaled systems, and built tools that people actually use — from hosting platforms to health and fitness apps.
	</p>

	<p>
		Currently engineering at refurbed. Previously, I managed a stellar team at Kilo Health, helping build Joggo, a running app used by hundreds of thousands. I like Go, care about good design (in code and life), and love building things that last.
	</p>

	<p>
		When I'm not coding, I'm probably brewing kombucha, teaching, or dreaming up side projects. Let’s make something great.
	</p>
</Layout>